body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 231, 179);
}

.center-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}